<router-outlet></router-outlet>
<div class="container menu-principal">
  <!-- <div class="row justify-content-center">
      <div class="col-3">
          <img src="../../assets/img/StarWarsAppLogo2.png" width="300" alt="Logo StarWars">
      </div>
  </div> -->
  <div class="row text-center">
      <div class="col-lg-4 ">
          <a routerLink="/casos-poistivos-co">
              <i class="fas fa-user-alt-slash fa-7x "></i>
              <h2>Casos Positivos Colombia</h2>
          </a>
      </div>
      <div class="col-lg-4 ">
        <a routerLink="/muestras-procesadas-na">
            <i class="fas fa-user-alt-slash fa-7x "></i>
            <h2>Muestras Procesadas</h2>
        </a>
    </div>
        <div class="col-lg-4 ">
        <a routerLink="/casos-poistivos-m">
            <i class="fas fa-user-alt-slash fa-7x "></i>
            <h2>Casos Positivos Mundo</h2>
        </a>
    </div>

      <!-- /.col-lg-4 -->
  
      <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  


