<router-outlet></router-outlet>
<div class="container menu-principal">
  <!-- <div class="row justify-content-center">
      <div class="col-3">
          <img src="../../assets/img/StarWarsAppLogo2.png" width="300" alt="Logo StarWars">
      </div>
  </div> -->
  <div class="row text-center">
      <div class="col-lg-4 ">
          <a routerLink="/casos-poistivos-co">
              <i class="fas fa-user-alt-slash fa-7x "></i>
              <h2>Casos Positivos Colombia</h2>
          </a>
      </div>
      <div class="col-lg-4 ">
        <a routerLink="/muestras-procesadas-na">
            <i class="fas fa-user-alt-slash fa-7x "></i>
            <h2>Muestras Procesadas</h2>
        </a>
    </div>
    <div class="col-lg-4 ">
        <a routerLink="/casos-poistivos-m">
            <i class="fas fa-user-alt-slash fa-7x "></i>
            <h2>Casos Positivos Mundo</h2>
        </a>
    </div>
    
      <!-- /.col-lg-4 -->
  
      <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->
</div>

